<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
    <display-name>Application Name </display-name>
    <!-- Welcome Files -->
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <session-config>
		<session-timeout>5</session-timeout>
	</session-config>
	<!-- Servlet Definitions -->
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>com.bettest.site.bt.controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>com.bettest.site.bt.controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationController</servlet-name>
        <servlet-class>com.bettest.site.bt.controller.RegistrationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BetController</servlet-name>
        <servlet-class>com.bettest.site.bt.controller.BetController</servlet-class>
    </servlet>
    
    <!-- Servlet Mappings -->
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationController</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    
     <servlet-mapping>
        <servlet-name>BetController</servlet-name>
        <url-pattern>/bet</url-pattern>
    </servlet-mapping>
    <!-- Database Details -->
    <context-param>
    	<param-name>dbUser</param-name>
    	<param-value>jkdll</param-value>
  	</context-param>
  	<context-param>
    	<param-name>dbPassword</param-name>
    	<param-value>123123</param-value>
  	</context-param>
  	<context-param>
    	<param-name>dbURL</param-name>
    	<param-value>jdbc:mysql://localhost:3306/bettest</param-value>
  	</context-param>
</web-app>